#container {
    background-color: aqua;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#card {
    height: 300px;
    width: 200px;
    border-radius: 12px;
    background: #fff;
    margin: 15px;
    text-align: center;
}