{% load static %}
<html>
    <head>
        <title>GW6 Fantasy Team</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body style="background-color: blueviolet;">

        <h1 style="text-align: center;">
            FPL team for GameWeek 6
        </h1>
        <div id="container">
            {% for player in players %}
            <div id="card">
                <h1>{{player.name}}</h1>
                <h4>{{player.position}}</h4>
                <h5>{{player.team}}</h5>
            </div>
            {% endfor %}
        </div>
    </body>
</html>