{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'loginstyle.css'%}">
        <title>Login Page</title>
    </head>

    <body>
        <div id="card">
            <form method="POST" action="login">

                {% for message in messages %}
                <h4>{{message}}</h4>
                {% endfor %}

                {% csrf_token %}
                <h1>Login</h1>

                <h3>Username</h4>
                <input type="text" name="Username" id="tbox">
                <h3>Password</h4>
                <input type="password" name="Password" id="tbox">

                <br>
                <input type="submit" id="submit">
            </form>
        </div>
    </body>
</html>